body{
    background: none;
}
.card{
    background: linear-gradient(#000e14, #00293b) !important;
    overflow: hidden !important;
}
.moon{
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px #fff;

}
.mountain1{
    width: 400px;
    height: 400px;
    border-radius: 15%;
    position: absolute;
    background: linear-gradient(#fff -40%, #000, #000);
    transform: rotate(45deg);
    top: 90%;
    left: 0%;
}
.mountain2{
    width: 400px;
    height: 400px;
    border-radius: 15%;
    position: absolute;
    background: linear-gradient(90deg, #fff -50%, #000, #000);
    transform: rotate(45deg);
    top: 80%;
    right: -10%;
}

@media only screen and (max-width: 767px){
    .mountain1{
        position: absolute;
        left: -10%;
    }
}

@media only screen and (max-width: 500px){
    .mountain1{
        left: -20%;
    }
    .mountain2{
        right: -20%;
    }
}
@media only screen and (max-width: 430px){
    .mountain1{
        left: -30%;
    }
    .mountain2{
        right: -35%;
    }
}
@media only screen and (max-width: 350px){
    .mountain1{
        left: -40%;
    }
    .mountain2{
        right: -45%;
    }
}
