@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Assistant', sans-serif !important;
}
body{
    margin: 0;
    padding: 0;
    background: white url(/assets/bg1.png) no-repeat;
    background-size: 100% 768px;
}
.nav-mid a{
    color: #000;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0.7em 1.5em !important;
    font-size: 1em;
}
.nav-mid a:hover{  
    color: #000;
    background: #f1f1f1;
}
.sign-in a{
    color: #000;
}
.sign-in a:hover{
    color: #136cda;
}
.left-content{
    padding: 13.5em 0 10em 0;
    position: relative;
}
.left-content h1,
.left-content h5,
.left-links{
   margin-left: 17%;
}
.left-content h1{
    font-weight: 700;
    padding-bottom: 0.5em;
}
.left-content h5{
    font-weight: 600;
    font-size: 1.2em ;
}
.left-links a{
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.left-links a:hover{
    color: #fff;
}
.link1:hover{
    background: #136cda;
    transition: all 300ms ease;
}
.link2:hover{
    text-decoration: underline;
    transition: all 300ms ease;
}
.left-links{
    margin-top: 3em;
}
.link1{
    background: #1473E6;
    border-radius: 20px;
}
.nav-bottom{
    display: flex;
    justify-content: center;
    margin-top: 135px;
    border-bottom: 1px solid #ccc;
}
.nav-bottom ul{
    padding: 0.3em 0;
}
.nav-bottom .title{
    color: #000;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: -0.5px;
}
.nav-bottom .title:hover{
    color: #000;
}
.nav-bottom a{
    font-weight: 600;
    color: #1473E6;
    font-size: 1em;
    letter-spacing: -0.5px;
}
.nav-bottom a:hover{
    color: #1473E6;
    text-decoration: underline;
}

.img-link:hover{
    text-decoration: underline;
}

.footer li,
.footer a{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 0.9em ;
    padding: 0.2em 0;
    transition: all 300ms ease;
}
.footer a:hover,
.cookies a:hover{
    color: #999999;
    transition: all 300ms ease;
}
.footer{
    background: #fcfcfc;
    margin-top: 5em !important;
}
.footer .col-lg{
    margin-top: 5em;
}
.cookies li{
    list-style: none;
    color: black;
    font-size: 0.8em;
    letter-spacing: -0.5px;
    margin: 0 0.2em;
}
.cookies li a{
    color: black;
    text-decoration: none;
    letter-spacing: -0.5px;
    transition: all 300ms ease;
}
.region a:hover,
.adobe-apps a:hover{
    opacity: 0.8;
    transition: all 300ms ease;
}
.dropdown ul,
.dropdown a{
    display: none;
}


/* responsive design for tablet */

@media only screen and (max-width: 1199px){
    body{
        background: url(/assets/bg2.jfif) no-repeat;
        background-size: 100%;
    }
    .search-icon{
        display: none;
    }
    .navmid1 ul{
        display: none;
    }
    .dropdown a{
        display: block !important;
        /* background: blue; */
    }
    .dropdown ul{
        width: 95vw;
        height: 100vh;
        margin-top: 0.91em !important;
        /* border: none; */
    }
    .banner{
        /* background: green; */
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
    }
    .left-content{
        padding: 0;
        /* position: relative; */
        color: black;
    }
    .left-content h1,
    .left-content h5,
    .left-links{
       margin-left: 3%;
    }
    .left-content h1{
        font-weight: 700;
        padding-bottom: 0.3em;
        font-size: 2.3em;
    }
    .left-content h5{
        font-size: 1em ;
    }
    .left-content1{
        margin-top: 67% !important;
    }
    .left-links{
        margin-top: 1.8em;
    }
    .link2 a:hover{
        color: #136cda;
    }
    .link2 a{
        color: #136cda;
    }
    .nav-bottom{
        margin-top: 2em;
    }
    .nav-bottom nav{
        display: block;
    }
    .title2{
        justify-content: center;
        padding: 0 !important;
    }
    .socials{
        display: block !important;
    }
}

@media only screen and (max-width: 991px){
    .footer{
        text-align: center;
    }
    .footer ul{
        border: none !important;
    }
    .adobe-apps ul{
        border: none !important;
    }
}

@media only screen and (max-width: 839px){
    .copyright ul{
        display: block !important;
        text-align: center;
    }
    .slice{
        display: none;
    }
    .socials ul{
        display: flex;
        justify-content: center;
    }
    .copyright li{
        position: relative;
        right: 55%;
        transform: translateX(50%);
    }
}

/* phone display */

@media only screen and (max-width: 550px){
    .adobe-apps ul{
        display: none !important;
    }
}

@media only screen and (max-width: 575px){
    .nav-bottom nav{
        text-align: center;
    }
}

@media only screen and (max-width: 401px){
    .region{
        display: none;
    }
}
@media only screen and (max-width: 334px){
    .copyright li{
        position: relative;
        right: 58%;
        transform: translateX(50%);
    }
}