@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Assistant', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: white url(/assets/bg1.png) no-repeat;
}
.nav-mid a{
    color: #000;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0.7em 1.5em !important;
    font-size: 1em;
}
.nav-mid a:hover{  
    color: #000;
    background: #f1f1f1;
}
.left-content{
    padding: 13.5em 0 10em 0;
    position: relative;
}
.left-content h1,
.left-content h5,
.left-links{
   margin-left: 17%;
}
.left-content h1{
    font-weight: 700;
    padding-bottom: 0.5em;
}
.left-content h5{
    font-weight: 600;
    font-size: 1.2em ;
}
.left-links a{
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.left-links a:hover{
    color: #fff;
}
.link1:hover{
    background: #136cda;
    transition: all 300ms ease;
}
.link2:hover{
    text-decoration: underline;
    transition: all 300ms ease;
}
.left-links{
    margin-top: 3em;
}
.link1{
    background: #1473E6;
    border-radius: 20px;
}
.nav-bottom{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    border-bottom: 1px solid #ccc;
}
.nav-bottom ul{
    padding: 0.3em 0;
}
.nav-bottom .title{
    color: #000;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: -0.5px;
}
.nav-bottom .title:hover{
    color: #000;
}
.nav-bottom a{
    font-weight: 600;
    color: #1473E6;
    font-size: 1em;
    letter-spacing: -0.5px;
}
.nav-bottom a:hover{
    color: #1473E6;
    text-decoration: underline;
}

.img-link:hover{
    text-decoration: underline;
}

.footer li,
.footer a{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 0.9em ;
    padding: 0.2em 0;
}
.footer a:hover{
    color: #999999;
    transition: all 300ms ease;
}
.footer{
    background: #fcfcfc;
    margin-top: 5em !important;
}
.footer .col-lg{
    margin-top: 5em;
}