body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.welcome{
    background: #fff;
    border-radius: 20px;
}
#navig{
    height: 100vh !important;
    position: fixed;
    transition: 300ms ease;
    overflow-y: scroll;
    width: 300px;
    background: #fff;
}

.navi::-webkit-scrollbar{
    width: 0.3em;
}
.navi::-webkit-scrollbar-track{
    background: #efe2ff;
}
.navi::-webkit-scrollbar-thumb{
    background: #9b5de5;
    border-radius: 5px;
}
.profile a{
    display: block !important;
    background: linear-gradient(to right, #eddeff, #efe2ff, #fcf9ff);
    background-position: right;
    color: #000 !important;
    background-size: 200%;
    transition: background-position 500ms ease-in-out;
}
.profile a:hover{
    background-position: left;
    transition: 500ms ease-in-out;
}
.navi button{
    float: right;
    background: none;
    border: none;
    text-decoration: none;
    position: fixed;
    margin-left: 240px;
}
.navi button i{
    font-size: 2em;
}
.navi a{
    color: gray;
    font-weight: 600;
    transition: 300ms ease;
    margin: 20px 40px;
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 1em;
}
.navi a:hover:not(.profile a:hover){
    background: linear-gradient(to right, #eddeff, #faf6ff);
    color: #000;
    transition: 300ms ease;
}
.navi i{
    font-size: 1.5em;
    padding: 7px;
}
.navbar{
    background: #fff;
}
.navtoggle button{
    position: relative;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 30px;
}
.navactive a{
    background: linear-gradient(to right, #eddeff, #faf6ff);
    color: #000;
}
.navactive a::before{
    content: '';
    width: 5px;
    height: 58px;
    border-radius: 5px;
    background: #9b5de5;
    position: absolute;
    left: 0;
}
.navactive i{
    background: #fff;
    border-radius: 10px;
    color: #9b5de5;
}
#mainContent{
    transition: 300ms ease;
    margin-left: 300px;
    background: #f7f7f7;
    padding: 20px 50px 50px 50px !important;
}
#menuBut{
    display: none;
}
.open-btn button{
    font-size: 1.7em;
    background: none !important;
    border: none;
    margin: 0 0 0 5px;
    padding: 0;
    position: fixed;
}
.form1{
    background: #fff !important;
    box-shadow: 0 0 10px #f3f3f3;
    border-radius: 20px;
}
.tTitle button{
    float: right;
}
.gdata button{
    display: flex;
    align-items: center;
}
input{
    border-radius: 10px !important;
}
input:focus{
    box-shadow: none !important;
    border: 1px solid #9b5de5 !important;
}
button{
    box-shadow: none !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    transition: 300ms ease !important;
}
button:hover{
    opacity: 90%;
    transition: 300ms ease;
}
.tab{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #f3f3f3;
}
.tRes{
    display: none;
}
.actalert div{
    border-radius: 12px !important;
    width: 300px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    background: rgba(154, 93, 229, 0.5);
}
.actalert button{
    background: none;
    border: none;
}
.actalert span{
    float: right !important;

}
.invisible{
    visibility: hidden;
}
footer a{
    text-decoration: none;
    color: #9b5de5;
}
footer a:hover{
    text-decoration: underline;
    color: #9b5de5;
}

/* content for clearence slip */

.slip{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 12px;
}

.scard{
    padding: 8px;
    margin: 0;
    border: 1px dashed #000;
}

.slip table{
    width: 100%;
    margin-top: 3px;
}

.slip tr, .slip td{
    border: 1px solid #000;
    padding: 0;
}

.cslip table{
    width: 100%;
}

.cslip tr, .cslip td {
    border: 1px solid #000;
    padding: 0;
}
.lcard{
    width: 25%;
    text-align: left;
    padding: 0 0 0 5px !important;
}

.rcard{
    width: 70%;
}

.cir{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
}

.rcard span{
    align-items: center;
}

.top img{
    float: left;
    width: 45px;
}
/* content for clearence slip */

@media only screen and (max-width: 1150px){
    .slip{
        grid-template-columns: auto auto;
    }

    .navbut h5{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    #navig{
        width: 250px !important;
        z-index: 100;
        box-shadow: #e0e0e0 0 0 5px;
    }
    .navi a{
        margin: 15px 20px;
        padding: 5px 5px;
        font-size: 0.9em;
    }
    .navi img{
        width: 50px;
        transition: 300ms ease;
    }
    .navi i{
        padding: 5px;
    }

    .navi button{
        margin-left: 200px;
    }

    .navi::-webkit-scrollbar{
        width: 0;
        display: none;
    }
    .navi::-webkit-scrollbar-track{
        background: none;
        display: none;
    }
    .navi::-webkit-scrollbar-thumb{
        background: none;
        border-radius: 5px;
        display: none;
    }

    .profile a{
        margin-top: 20px;
    }
    .navactive a{
        border-radius: 10px;
    }
    .navactive a::after{
        height: 40px;
 
    }
    .navactive i{
        background: #fff;
        border-radius: 7px;
        color: #9b5de5;
    }
    #mainContent{
        margin-left: 0 !important;
    }
    .info{
        font-size: 1.2em;
    }
    .table td, .table th{
        display: block !important;
        transition: 300ms ease-in-out !important;
    }
    .table th{
        display: none !important;
    }
    .tRes{
        display: flex;
        font-weight: 700;
        transition: 300ms ease;
    }
    .welcome h2, .welcome h4{
        font-size: 1.2rem;
    }

    .slip{
        grid-template-columns: auto;
        padding: 15px !important;
        margin: 10px !important;
    }
    
    .navbut{
        padding: 15px !important;
        margin: 10px !important;
    }

    .scard{
        border: none;
        border-bottom: 1px dashed #000;
    }
}

@media only screen and (max-width: 530px){

    .slip{
        font-size: 11px !important;
    }
    .lcard{
        width: 35% !important;
        text-align: left;
        padding: 0 0 0 5px;
    }
    
    .rcard{
        width: 60%;
    }

    .navbut button, .navbut a{
        font-size: 12px;
    }
}