<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Visitor Details</title>
</head>
<body class="bg-stone-800 text-white">
    <div id="app">
        <header class="py-4 bg-stone-950">
            <div class="container px-4 mx-auto md:px-12 lg:px-24">
                <h1 class="font-bold text-2xl">Visitors Count</h1>
            </div>
        </header>
        <div class="container mx-auto px-4 mt-10 md:px-12 lg:px-24">
            <!-- Visitors Table -->
            <section>
                <h2 class="text-xl font-semibold mb-2">Web Dev Portfolio (Visitors: {{ visitors.length }})</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-stone-800 shadow-md rounded-lg overflow-hidden">
                        <thead class="bg-stone-900 text-white">
                            <tr>
                                <th class="py-3 px-6 text-left">No.</th>
                                <th class="py-3 px-6 text-left">Browser</th>
                                <th class="py-3 px-6 text-left">Device Name</th>
                                <th class="py-3 px-6 text-left">Visited At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(visitor, index) in visitors" :key="visitor.id" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6">{{ index + 1 }}</td>
                                <td class="py-3 px-6">{{ visitor.browser }}</td>
                                <td class="py-3 px-6">{{ visitor.device_name }}</td>
                                <td class="py-3 px-6">{{ formatDate(visitor.visit_at) }}</td>
                            </tr>
                            <tr v-if="visitors.length === 0" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6" colspan="4">No data found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <hr class="border-white my-20">

            <!-- Visitors 2 Table -->
            <section>
                <h2 class="text-xl font-semibold mb-2">Designer Portfolio (Visitors: {{ visitoors.length }})</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-stone-800 shadow-md rounded-lg overflow-hidden">
                        <thead class="bg-stone-900 text-white">
                            <tr>
                                <th class="py-3 px-6 text-left">No.</th>
                                <th class="py-3 px-6 text-left">Browser</th>
                                <th class="py-3 px-6 text-left">Device Name</th>
                                <th class="py-3 px-6 text-left">Visited At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(visitoor, index) in visitoors" :key="visitoor.id" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6">{{ index + 1 }}</td>
                                <td class="py-3 px-6">{{ visitoor.browser }}</td>
                                <td class="py-3 px-6">{{ visitoor.device }}</td>
                                <td class="py-3 px-6">{{ formatDate(visitoor.visited_at) }}</td>
                            </tr>
                            <tr v-if="visitoors.length === 0" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6 text-center" colspan="4">No data found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <footer class="px-4 mt-24 text-center py-6 bg-stone-900 md:px-12 lg:px-24">
            <h1>2024 Frisky Infant Limbong</h1>
        </footer>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    visitors: [],
                    visitoors: [],
                };
            },
            created() {
                axios.get('https://663b9626fee6744a6ea2331e.mockapi.io/visitor_details')
                    .then(response => {
                        this.visitors = response.data;
                    })
                    .catch(error => {
                        console.error('Error fetching visitor data:', error);
                    });

                axios.get('https://66716950e083e62ee43b7c51.mockapi.io/visitor_details')
                    .then(response => {
                        this.visitoors = response.data;
                    })
                    .catch(error => {
                        console.error('Error fetching visitoors data:', error);
                    });
            },
            methods: {
                formatDate(dateString) {
                    const options = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true };
                    const date = new Date(dateString);
                    return date.toLocaleDateString('en-US', options);
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>
