<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Data Table</title>
    <script>
        const passKey = "qwerty";
        let enteredKey = prompt("Please enter the passkey to access this page:");

        if (enteredKey !== passKey) {
            alert("Incorrect passkey. You are not allowed to access this page.");
            window.location.href = "https://infanttt.github.io";
        }
    </script>
</head>
<body class="bg-stone-800 text-white">
    <div id="app">
        <header class="py-4 bg-stone-900 sticky top-0">
            <div class="container px-4 mx-auto md:px-12 lg:px-24">
                <h1 class="font-bold text-2xl">Visitors Count</h1>
            </div>
        </header>
        <div class="container mx-auto px-4 mt-10 md:px-12 lg:px-24">
            <!-- Visitors Table -->
            <section>
                <div class="flex items-center justify-between w-full mb-2">
                    <h2 class="text-xl font-semibold">WD: {{ visitors.length }}</h2>
                    <select v-model="perPage" id="perPage" class="bg-stone-700 border-none px-3 py-2 rounded-md focus:outline-none">
                        <option v-for="option in perPageOptions" :key="option" :value="option">{{ option === 10000 ? 'All' : option }}</option>
                    </select>
                </div>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-stone-800 shadow-md rounded-lg overflow-hidden">
                        <thead class="bg-stone-900 text-white">
                            <tr>
                                <th class="py-3 px-6 text-left">No.</th>
                                <th class="py-3 px-6 text-left">Browser</th>
                                <th class="py-3 px-6 text-left">Device</th>
                                <th class="py-3 px-6 text-left">Visited</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(visitor, index) in paginatedVisitors" :key="visitor.id" class="odd:bg-stone-700/20 border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6">{{ index + 1 + (currentPage - 1) * perPage }}.</td>
                                <td class="py-3 px-6">{{ visitor.browser }}</td>
                                <td class="py-3 px-6">{{ visitor.device_name }}</td>
                                <td class="py-3 px-6">{{ formatDate(visitor.visit_at) }}</td>
                            </tr>
                            <tr v-if="visitors.length === 0" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6" colspan="4">No data found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-auto text-end mt-5">
                    <div>
                        <button @click="prevPage" :disabled="currentPage === 1" class="bg-stone-700 py-2 px-4 rounded-l-lg" :class="{ 'hover:bg-stone-700 cursor-not-allowed': currentPage === 1, 'hover:bg-stone-600': currentPage !== 1 }">Prev</button>
                        <button v-for="page in totalPages" :key="page" @click="goToPage(page)" :class="['py-2 px-4', { 'bg-stone-600': page === currentPage, 'bg-stone-700 hover:bg-stone-600': page !== currentPage }]">{{ page }}</button>
                        <button @click="nextPage" :disabled="currentPage === totalPages" class="bg-stone-700 py-2 px-4 rounded-r-lg" :class="{ 'hover:bg-stone-700 cursor-not-allowed': currentPage === totalPages, 'hover:bg-stone-600': currentPage !== totalPages }">Next</button>
                    </div>
                </div>              
            </section>

            <hr class="border-white my-20">

            <!-- Visitors 2 Table -->
            <section>
                <div class="flex items-center justify-between w-full mb-2">
                    <h2 class="text-xl font-semibold">GD: {{ visitoors.length }}</h2>
                    <select v-model="perPage2" id="perPage2" class="bg-stone-700 border-none px-3 py-2 rounded-md focus:outline-none">
                        <option v-for="option in perPageOptions" :key="option" :value="option">{{ option === 10000 ? 'All' : option }}</option>
                    </select>
                </div>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-stone-800 shadow-md rounded-lg overflow-hidden">
                        <thead class="bg-stone-900 text-white">
                            <tr>
                                <th class="py-3 px-6 text-left">No.</th>
                                <th class="py-3 px-6 text-left">Browser</th>
                                <th class="py-3 px-6 text-left">Device</th>
                                <th class="py-3 px-6 text-left">Visited</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(visitoor, index) in paginatedVisitoors" :key="visitoor.id" class="odd:bg-stone-700/20 border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6">{{ index + 1 + (currentPage2 - 1) * perPage2 }}.</td>
                                <td class="py-3 px-6">{{ visitoor.browser }}</td>
                                <td class="py-3 px-6">{{ visitoor.device }}</td>
                                <td class="py-3 px-6">{{ formatDate(visitoor.visited_at) }}</td>
                            </tr>
                            <tr v-if="visitoors.length === 0" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6 text-center" colspan="4">No data found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-auto text-end mt-5">
                    <div>
                        <button @click="prevPage2" :disabled="currentPage2 === 1" class="bg-stone-700 py-2 px-4 rounded-l-lg" :class="{ 'hover:bg-stone-700 cursor-not-allowed': currentPage2 === 1, 'hover:bg-stone-600': currentPage2 !== 1 }">Prev</button>
                        <button v-for="page in totalPages2" :key="page" @click="goToPage2(page)" :class="['py-2 px-4', { 'bg-stone-600': page === currentPage2, 'bg-stone-700 hover:bg-stone-600': page !== currentPage2 }]">{{ page }}</button>
                        <button @click="nextPage2" :disabled="currentPage2 === totalPages2" class="bg-stone-700 py-2 px-4 rounded-r-lg" :class="{ 'hover:bg-stone-700 cursor-not-allowed': currentPage2 === totalPages2, 'hover:bg-stone-600': currentPage2 !== totalPages2 }">Next</button>
                    </div>
                </div>
            </section>
            
            <hr class="border-white my-20">

            <!-- Image likes Table -->
            <section>
                <div class="flex items-center justify-between w-full mb-2">
                    <h2 class="text-xl font-semibold">Image: {{ likes.length }}</h2>
                    <select v-model="perPage3" id="perPage3" class="bg-stone-700 border-none px-3 py-2 rounded-md focus:outline-none">
                        <option v-for="option in perPageOptions" :key="option" :value="option">{{ option === 10000 ? 'All' : option }}</option>
                    </select>
                </div>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-stone-800 shadow-md rounded-lg overflow-hidden">
                        <thead class="bg-stone-900 text-white">
                            <tr>
                                <th class="py-3 px-6 text-left">No.</th>
                                <th class="py-3 px-6 text-left">Title</th>
                                <th class="py-3 px-6 text-left">Likes</th>
                                <th class="py-3 px-6 text-left">Last Liked At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(like, index) in paginatedLikes" :key="like.id" class="odd:bg-stone-700/20 border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6">{{ index + 1 + (currentPage3 - 1) * perPage3 }}.</td>
                                <td class="py-3 px-6">{{ like.title }}</td>
                                <td class="py-3 px-6">{{ like.total_likes }}</td>
                                <td class="py-3 px-6">{{ formatDate(like.liked_on) }}</td>
                            </tr>
                            <tr v-if="likes.length === 0" class="border-b border-gray-700 hover:bg-stone-700">
                                <td class="py-3 px-6 text-center" colspan="4">No data found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-auto text-end mt-5">
                    <div>
                        <button @click="prevPage3" :disabled="currentPage3 === 1" class="bg-stone-700 py-2 px-4 rounded-l-lg" :class="{ 'hover:bg-stone-700 cursor-not-allowed': currentPage3 === 1, 'hover:bg-stone-600': currentPage3 !== 1 }">Prev</button>
                        <button v-for="page in totalPages3" :key="page" @click="goToPage3(page)" :class="['py-2 px-4', { 'bg-stone-600': page === currentPage3, 'bg-stone-700 hover:bg-stone-600': page !== currentPage3 }]">{{ page }}</button>
                        <button @click="nextPage3" :disabled="currentPage3 === totalPages3" class="bg-stone-700 py-2 px-4 rounded-r-lg" :class="{ 'hover:bg-stone-700 cursor-not-allowed': currentPage3 === totalPages3, 'hover:bg-stone-600': currentPage3 !== totalPages3 }">Next</button>
                    </div>
                </div>
            </section>
        </div>

        <footer class="px-4 mt-24 text-center py-6 bg-stone-900 md:px-12 lg:px-24">
            <h1>&copy; 2024 Frisky Infant Limbong</h1>
        </footer>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    visitors: [],
                    visitoors: [],
                    likes: [],
                    perPage: 10,
                    perPage2: 10,
                    perPage3: 10,
                    currentPage: 1,
                    currentPage2: 1,
                    currentPage3: 1,
                    perPageOptions: [10, 20, 30, 50, 10000],
                };
            },
            computed: {
                paginatedVisitors() {
                    const start = (this.currentPage - 1) * this.perPage;
                    const end = this.perPage === 0 ? this.visitors.length : start + this.perPage;
                    return this.visitors.slice(start, end);
                },
                totalPages() {
                    return Math.ceil(this.visitors.length / this.perPage);
                },
                paginatedVisitoors() {
                    const start = (this.currentPage2 - 1) * this.perPage2;
                    const end = this.perPage2 === 0 ? this.visitoors.length : start + this.perPage2;
                    return this.visitoors.slice(start, end);
                },
                totalPages2() {
                    return Math.ceil(this.visitoors.length / this.perPage2);
                },
                paginatedLikes() {
                    const start = (this.currentPage3 - 1) * this.perPage3;
                    const end = this.perPage3 === 0 ? this.likes.length : start + this.perPage3;
                    return this.likes.slice(start, end);
                },
                totalPages3() {
                    return Math.ceil(this.likes.length / this.perPage3);
                },
            },
            methods: {
                formatDate(dateString) {
                    const date = new Date(dateString);
                    const today = new Date();
                    const differenceInTime = today.getTime() - date.getTime();
                    const differenceInDays = differenceInTime / (1000 * 3600 * 24);

                    const options = { hour: '2-digit', minute: '2-digit', hour12: true };

                    if (differenceInDays < 1 && today.getDate() === date.getDate()) {
                        return `Today at ${date.toLocaleTimeString('en-US', options)}`;
                    } else if (differenceInDays < 2) {
                        return `Yesterday at ${date.toLocaleTimeString('en-US', options)}`;
                    } else if (differenceInDays < 3) {
                        return `2 days ago at ${date.toLocaleTimeString('en-US', options)}`;
                    }

                    const dateOptions = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true };
                    return date.toLocaleDateString('en-US', dateOptions);
                },

                prevPage() {
                    if (this.currentPage > 1) this.currentPage--;
                },
                nextPage() {
                    if (this.currentPage < this.totalPages) this.currentPage++;
                },
                goToPage(page) {
                    this.currentPage = page;
                },
                prevPage2() {
                    if (this.currentPage2 > 1) this.currentPage2--;
                },
                nextPage2() {
                    if (this.currentPage2 < this.totalPages2) this.currentPage2++;
                },
                goToPage2(page) {
                    this.currentPage2 = page;
                },
                prevPage3() {
                    if (this.currentPage3 > 1) this.currentPage3--;
                },
                nextPage3() {
                    if (this.currentPage3 < this.totalPages3) this.currentPage3++;
                },
                goToPage3(page) {
                    this.currentPage2 = page;
                },
            },
            created() {
                axios.get('https://663b9626fee6744a6ea2331e.mockapi.io/visitor_details')
                    .then(response => {
                        this.visitors = response.data.reverse();
                    })
                    .catch(error => {
                        console.error('Error fetching visitor data:', error);
                    });

                axios.get('https://66716950e083e62ee43b7c51.mockapi.io/visitor_details')
                    .then(response => {
                        this.visitoors = response.data.reverse();
                    })
                    .catch(error => {
                        console.error('Error fetching visitoors data:', error);
                    });
                
                axios.get('https://663b9626fee6744a6ea2331e.mockapi.io/likes')
                    .then(response => {
                        this.likes = response.data;
                    })
                    .catch(error => {
                        console.error('Error fetching likes data:', error);
                    });
            }
        });

        app.mount('#app');
    </script>
</body>
</html>
