<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/javaScript/script.js"></script>
    <title>Daftar Siswa</title>
</head>
<body>
    <div id="webapp" class="container-fluid p-0 d-flex">
        <div>
            <div id="navig" class="navi">
                <button class="close-btn" onclick="closeBut()"><i class='bx bx-x'></i></button>
                <br>
                <span class="profile text-center">
                    <a href="#" class="nav-link">
                        <img src="/assets/rangerMerah.jpg" alt="User's Pict" width="70px" style="border-radius: 50%;">
                        <div style="padding: 0 10px;">{{ urname }}</div>
                    </a>
                </span>
                <span><a href="index.html" class="nav-link"><i class='bx bxs-home' style="margin-right: 1em;"></i>Home</a></span>
                <span><a href="dataguru.html" class="nav-link"><i class='bx bxs-book-alt' style="margin-right: 1em;"></i>Data Guru</a></span>
                <span><a href="nilaisiswa.html" class="nav-link"><i class='bx bxs-book-content' style="margin-right: 1em;"></i>Nilai Siswa</a></span>
                <span class="navactive"><a href="siswa.html" class="nav-link"><i class='bx bxs-group' style="margin-right: 1em;"></i>Daftar Siswa</a></span>
                <span><a href="matapelajaran.html" class="nav-link"><i class='bx bxs-calendar' style="margin-right: 1em;"></i>Mata Pelajaran</a></span>
            </div>
        </div>
        <span id="menuBut" class="open-btn">
            <button onclick="openBut()"><i class='bx bx-menu'></i></button>
        </span>
        <div id="mainContent" class="container-fluid">
            <h2>Hai, {{ urname }} 👋</h2>
            <h5 class="mb-5 text-muted">Selamat datang, senang bertemu dengan mu!</h5>
            <hr style="color: #9b5de5">
            <br>
            <div class="row">
                <span class="form1 p-4">
                    <div class="col-md-12">
                        <span class="d-flex">
                            <h4 class="mb-3">Informasi Siswa</h4>
                            <div class="mx-auto"></div>
                            <button class="btn btn-md d-flex" v-on:click="resetForm()"
                                    style="background: #9b5de5;
                                    color: #fff;
                                    align-items: center;">
                                    Tambahkan Siswa<i class='bx bxs-user-plus' style="margin-left: 5px;"></i>
                            </button>
                        </span>
                        <form class="needs-validation">
                            <div class="row">
                                <span class="invisible"><input required></span>
                                <div class="col-md-6 mb-3">
                                    <label for="namaSiswa">Nama</label>
                                    <input v-model="namaSiswa" type="text" class="form-control" id="namaSiswa" placeholder="Masukan nama" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="nis">NIS</label>
                                    <input v-model="nis" type="text" class="form-control" id="nis" placeholder="Masukan NIS" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="noAbsen">No. Absen</label>
                                    <input v-model="noAbsen" type="text" class="form-control" id="noAbsen" placeholder="Masukan nomor absen" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="kelas">Kelas</label>
                                    <input v-model="kelas" type="text" class="form-control" id="kelas" placeholder="Masukan kelas" value="">
                                </div>
                                <div class="col-md-12 mb-1">
                                    <div>konfirmasi</div>
                                    <button v-if="!editMode && !deleteMode" v-on:click="createSiswa" class="btn btn-md form-control" type="submit"
                                        style="background: #9b5de5;
                                        color: #fff;">
                                        Submit
                                    </button>
                                    <button v-if="editMode" v-on:click="updateSiswa" class="btn btn-md btn-warning form-control" type="submit">Update Data</button>
                                    <button v-if="deleteMode" v-on:click="deleteSiswa" class="btn btn-danger btn-md form-control" type="submit">Hapus Data</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </span>
                <span class="actalert mt-2">
                    <div v-if="message" class="alert alert-success text-white" role="alert">
                        {{ message }}
                        <button type="button" v-on:click="resetForm()">
                            <span class="text-white"><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                </span>
                <span class="tab mt-5 p-4">
                    <div class="text-center tTitle mb-4">
                        <h4 class="">Data Siswa</h4>
                    </div>
                    <table class="table table-striped gdata">
                        <tr>
                            <th>ID</th>
                            <th>Nama Siswa</th>
                            <th>NIS</th>
                            <th>No. Absen</th>
                            <th>Kelas</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr v-for="siswa in siswas">
                            <td>{{ siswa.id }}</td>
                            <td>{{ siswa.namaSiswa }}</td>
                            <td>{{ siswa.nis }}</td>
                            <td>{{ siswa.noAbsen }}</td>
                            <td>{{ siswa.kelas }}</td>
                            <td><button onclick="sTop()" title="Go to top" class="btn btn-md btn-warning" v-on:click="getEdit(siswa)">Edit<i class='bx bx-edit' style="margin-left: 3px;"></i></button></td>
                            <td><button onclick="sTop()" title="Go to top" class="btn btn-danger" v-on:click="getDelete(siswa)">Hapus<i class='bx bxs-trash-alt' style="margin-left: 3px;"></i></button></td>
                        </tr>
                    </table>
                    <button class="btn btn-md d-flex" v-on:click="resetForm()" onclick="sTop()" title="Go to top"
                            style="background: #9b5de5;
                            color: #fff;
                            align-items: center;">
                            Tambahkan Siswa<i class='bx bxs-user-plus' style="margin-left: 5px;"></i>
                    </button>
                </span>
            </div>

            <hr class="mt-5" style="color: #9b5de5">
            <footer class="mt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2022 FTI UNAI</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                </ul>
              </footer>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var webapp = new Vue ({
            el: '#webapp',
            data: {
                errors: [],
                message: null,
                siswas:[],
                siswaIdEdit: null,
                siswaIdDelete: null,
                editMode: false,
                deleteMode: false,
                namaSiswa: '',
                noAbsen: '',
                kelas: '',
                nis: '',
                urname: 'Ranger Merah'
            },
            mounted: function() {
                this.getSiswa();
            },
            methods: {
                getSiswa() {
                    axios.get('https://6215a9e7c9c6ebd3ce2e0879.mockapi.io/siswa')
                        .then(response => {
                            this.siswas = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createSiswa: function(){
                    axios.post('https://6215a9e7c9c6ebd3ce2e0879.mockapi.io/siswa', {
                        namaSiswa: this.namaSiswa,
                        noAbsen: this.noAbsen,
                        kelas: this.kelas,
                        nis: this.nis
                    })
                    .then(response => {
                            this.getSiswa();
                            this.message = "Data anda telah ditambahkan";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.siswaIdEdit = null;
                    this.namaSiswa = null;
                    this.noAbsen = null;
                    this.kelas = null;
                    this.nis = null;
                },
                getEdit: function (siswa) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.siswaIdEdit = siswa.id;
                    this.namaSiswa = siswa.namaSiswa;
                    this.noAbsen = siswa.noAbsen;
                    this.kelas = siswa.kelas;
                    this.nis = siswa.nis;
                },
                getDelete: function (siswa) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.siswaIdDelete = siswa.id;
                    this.namaSiswa = siswa.namaSiswa;
                    this.noAbsen = siswa.noAbsen;
                    this.kelas = siswa.kelas;
                    this.nis = siswa.nis;
                },
                updateSiswa: function () {
                    axios.put(`https://6215a9e7c9c6ebd3ce2e0879.mockapi.io/siswa/${this.siswaIdEdit}`, {
                            namaSiswa: this.namaSiswa,
                            noAbsen: this.noAbsen,
                            kelas: this.kelas,
                            nis: this.nis
                        })
                        .then(res => {
                            this.message = "Data anda telah di ubah";
                            this.getSiswa();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                deleteSiswa: function () {
                    axios.delete(`https://6215a9e7c9c6ebd3ce2e0879.mockapi.io/siswa/${this.siswaIdDelete}`)
                        .then(res => {
                            this.message = "Data anda telah dihapus";
                            this.getSiswa();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            }
        })
    </script>
</body>
</html>