<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/javaScript/script.js"></script>
    <title>Clearence Slip</title>
</head>
<body>
    <div id="webapp" class="container-fluid p-0 d-flex">
        <div>
            <div id="navig" class="navi">
                <button class="close-btn" onclick="closeBut()"><i class='bx bx-x'></i></button>
                <br>
                <span class="profile text-center">
                    <a href="#" class="nav-link">
                        <img src="/assets/rangerMerah.jpg" alt="User's Pict" width="70px" style="border-radius: 50%;">
                        <div style="padding: 0 10px;">{{ urname }}</div>
                    </a>
                </span>
                <span><a href="index.html" class="nav-link"><i class='bx bxs-home' style="margin-right: 1em;"></i>Home</a></span>
                <span><a href="dataguru.html" class="nav-link"><i class='bx bxs-book-alt' style="margin-right: 1em;"></i>Data Guru</a></span>
                <span><a href="nilaisiswa.html" class="nav-link"><i class='bx bxs-book-content' style="margin-right: 1em;"></i>Nilai Siswa</a></span>
                <span><a href="siswa.html" class="nav-link"><i class='bx bxs-group' style="margin-right: 1em;"></i>Daftar Siswa</a></span>
                <span><a href="matapelajaran.html" class="nav-link"><i class='bx bxs-calendar' style="margin-right: 1em;"></i>Mata Pelajaran</a></span>
                <span class="navactive"><a href="slip.html" class="nav-link"><i class='bx bxs-id-card' style="margin-right: 1em;"></i>Clearence Slip</a></span>
            </div>
        </div>
        <span id="menuBut" class="open-btn">
            <button onclick="openBut()"><i class='bx bx-menu'></i></button>
        </span>
        <div id="mainContent" class="container-fluid">
            <h2>Hai, {{ urname }} 👋</h2>
            <h5 class="mb-5 text-muted">Selamat datang, senang bertemu dengan mu!</h5>
            <hr style="color: #9b5de5">
            <br>
            <div class="row">
                <span class="actalert mt-2">
                    <div v-if="message" class="alert alert-success text-white" role="alert">
                        {{ message }}
                        <button type="button" v-on:click="resetForm()">
                            <span class="text-white"><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                </span>
                <span class="tab p-4">
                    <div class="tTitle">
                        <div class="text-center mb-3">
                            <h5>Clearence Slip SMP</h5>                      
                        </div>
                        
                        <hr class="my-4" style="color: #9b5de5">

                        <div class="upform">
                            <form class="needs-validation">
                                <div class="row">
                                    <span class="invisible"><input required></span>
                                    <div class="col-md-6 mb-3">
                                        <label for="tp">Tahun Pelajaran</label>
                                        <input v-model="tp" type="text" class="form-control" id="tp" placeholder="Tahun Pelajaran">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="sem">Semester</label>
                                        <select v-model="sem" name="sem" id="sem" class="form-control">
                                            <option>GANJIL</option>
                                            <option>GENAP</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="kasmp">Kepala Sekolah</label>
                                        <input v-model="kasmp" type="text" class="form-control" id="kasmp" placeholder="kepala SMP">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="tglBerlaku">Berlaku Hingga</label>
                                        <input v-model="tglBerlaku" type="date" class="form-control" id="tglBerlaku">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="jenisUjian">UAS / UTS</label>
                                        <select v-model="jenisUjian" name="jenisUjian" id="jenisUjian" class="form-control">
                                            <option>AKHIR</option>
                                            <option>MID</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mt-4">
                                        <button v-if="editMode" v-on:click="updateSlip" class="btn btn-md btn-warning form-control" type="submit">Update</button>
                                        <button class="btn btn-md btn-success form-control" v-on:click="resetForm" type="reset">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr class="my-4" style="color: #9b5de5">

                        <div class="d-flex mb-3">
                            <button onclick="sTop()" title="Go to top" class="btn btn-danger me-2" v-on:click="getEdit(guru)">Edit<i class='bx bx-edit' style="margin-left: 3px;"></i></button>
                            <a href="printsmp.html" class="btn btn-md" style="background: #9b5de5;
                                color: #fff;
                                border-radius: 10px;
                                align-items: center;">Print <i class='bx bxs-printer'></i></a>
                        </div>

                        <div class="text-center cslip p-5 mx-5 rounded" style="background: #1bade7;">
                            <div class="top">
                                <img src="/assets/Logo-Amor.png" alt="logo">
                                <p class="text-bold mb-1">
                                    <b>SD SMP SWASTA ADVENT SEI PELANCANG KARTU UJIAN {{ jenisUjian }} SEMESTER {{ sem }} TAHUN PELAJARAN {{ tp }}</b>
                                </p>
                            </div>
                            <table>
                                <tr>
                                    <td class="lcard">Nama</td>
                                    <td>:</td>
                                    <td class="rcard"></td>
                                </tr>
                                <tr>
                                    <td class="lcard">Kelas</td>
                                    <td>:</td>
                                    <td class="rcard"></td>
                                </tr>
                                <tr>
                                    <td class="lcard">NIS</td>
                                    <td>:</td>
                                    <td class="rcard"></td>
                                </tr>
                                <tr>
                                    <td class="lcard">Jenis kelamin</td>
                                    <td>:</td>
                                    <td class="rcard text-start ps-1">
                                        <span class="d-flex"><div class="cir me-1"></div> {{ jk1 }} <span class="me-4" ></span> <div class="cir me-1"></div> {{ jk2 }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="lcard">No. Ujian</td>
                                    <td>:</td>
                                    <td class="rcard"></td>
                                </tr>
                            </table>

                            <div class="bot">
                                <p id="date" class="p-0 m-0">Sei Pelancang, {{ date }}</p>
                                <p class="p-0 mb-4">Ka. SMP Swasta Advent Sei Pelancang</p>
                                <p class="p-0 m-0"><b>{{ kasmp }}</b></p>
                                <p class="p-0 m-0 text-end" style="font-size: 11px;"><em>Berlaku hingga {{ tglBerlaku }}</em></p>
                            </div>
                        </div>
                    </div>
                </span>
            </div>

            <hr class="mt-5" style="color: #9b5de5">
            <footer class="mt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2022 FTI UNAI</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                </ul>
              </footer>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var webapp = new Vue ({
            el: '#webapp',
            data: {
                errors: [],
                message: null,
                urname: 'Ranger Merah',
                slipIdEdit: null,
                editMode: false,
                tp: '',
                sem: '',
                tglBerlaku: '',
                kasd: '',
                kasmp: '',
                jk1: '',
                jk2: '',
                jenisUjian: '',
                showDateTime: null,
                date: null
            },

            methods:{
                getCurrentDateTime(){
                    let dateTime = new Date();
                    this.showDateTime = date;
                    this.date = dateTime.toLocaleDateString();
                    console.log(date);
                }
            },

            created(){
                this.getCurrentDateTime();
            },
            mounted: function() {
                this.getslip();
            },
            methods: {
                getSlip() {
                    axios.get('https://6284a41ca48bd3c40b72da88.mockapi.io/slip')
                        .then(response => {
                            this.slips = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createSlip: function(){
                    axios.post('https://6284a41ca48bd3c40b72da88.mockapi.io/slip', {
                        tp: this.tp,
                        sem: this.sem,
                        tglBerlaku: this.tglBerlaku,
                        kasd: this.kasd,
                        kasmp: this.kasmp,
                        jk1: this.jk1,
                        jk2: this.jk2,
                        jenisUjian: this.jenisUjian
                    })
                    .then(response => {
                            this.getSlip();
                            this.message = "Data anda telah ditambahkan";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.slipIdEdit = null;
                    this.tp = null;
                    this.sem = null;
                    this.tglBerlaku = null;
                    this.kasd = null;
                    this.kasmp = null;
                    this.jk1 = null;
                    this.jk2 = null;
                    this.jenisUjian = null;
                },
                getEdit: function (slip) {
                    this.message = null;
                    this.editMode = true;
                    this.tp = slip.tp;
                    this.sem = slip.sem;
                    this.tglBerlaku = slip.tglBerlaku;
                    this.kasd = slip.kasd;
                    this.kasmp = slip.kasmp;
                    this.jk1 = slip.jk1;
                    this.jk2 = slip.jk2;
                    this.jenisUjian = slip.jenisUjian;
                },
                updateSlip: function () {
                    axios.put(`https://6284a41ca48bd3c40b72da88.mockapi.io/slip/${this.slipIdEdit}`, {
                        tp: this.tp,
                        sem: this.sem,
                        tglBerlaku: this.tglBerlaku,
                        kasd: this.kasd,
                        kasmp: this.kasmp,
                        jk1: this.jk1,
                        jk2: this.jk2,
                        jenisUjian: this.jenisUjian
                        })
                        .then(res => {
                            this.message = "Berhasil diubah";
                            this.getSlip();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            }
        })
    </script>
</body>
</html>